/* .footer-bottom-text {
  color: #fff;
  padding-bottom: 2px;
}

.spacehere {
  color: #fff;
}

.myfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  padding: 20px;
  text-align: center;
  color: #ffff;
}
